* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    
    transition: all 0.5s ease;
}
text:focus{
    outline: none;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    cursor: not-allowed;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 12px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.15);
}
button#equal{
    height: 130px;
}

.calculator{
    background-color: #fff;
}
.calculator #display{
    color: #0a1e23;
}
.calculator button#clear {
    background-color: rgba(161, 46, 46, 0.445);
}
.calculator button.btn-number {
    background-color: #6fc7dd;
}
.calculator button.btn-operator {
    background-color: rgb(243, 142, 105);
}
.calculator button.btn-equal {
    background-color: #f3b034;
}
/* */
.calculator.dark{
    background-color: #071115;
}
.calculator.dark #display{
    color: #f8f8fd;
}
.calculator.dark button#clear {
    background-color: rgba(90, 37, 37, 0.897);
    color: #bd3740;
}
.calculator.dark button.btn-number {
    background-color: #13143d;
    color: #fff;
}
.calculator.dark button.btn-operator {
    background-color: rgb(20, 61, 19);
    color: aliceblue;
}
.calculator.dark button.btn-equal {
    background-color: #745112;
}
  